@include border-box-sizing; //uses border box sizing like the old IE making width include margin/padding

$susy: (
  columns: 12,
  container: 60em,
  gutters: 1/4,
  gutter-position: inside
);

$narrow: 400px;
$small: 650px;
$medium: 960px;
$wide: 1200px;

//Add Color Palette
$blue       : #063642;
$green      : #45B29D;
$yellow     : #EFC94C;
$orange     : #E27A3F;
$red        : #DF4848;
$pink       : #CD0069;
$purple     : #6441a4;
$lightpurple: #7d5bbe;
$dark       : #000000;
$light      : #FFFFFF;

$backgroundColor    : $light;
$onlineColor        : #afde9c;
$offlineColor       : #efeef1;
$typeDefault        : $dark;
$typeOffline        : #807b8b;
$navLeft            : #17141f;
$navRight           : #201c2b;

//Font variables
$fontfamily       : 'Helvetica Neue', Helvetica, Arial, sans-serif;

$thin     : 200;
$normal   : 400;
$bold     : 600;
$heavy    : 800;

$headFont   : $normal 1.5em/1.5em $fontfamily;
$mainFont   : $normal 1em/1.5em $fontfamily;
