.online-streams {
  background-color: $onlineColor;
  border-top: 1px solid black;
}

.online-stream,
.offline-stream {
  @include display-flex;
  @include flex-wrap(nowrap);
  width: 100%;
  height: 80px;
  //The next two lines allow for the div to change in height to fit content
  overflow: hidden;
  height: 1%;
}

.stream-logo {
  @include display-flex;
  width: 30%;
  max-width: 100px;
  img {
    width: 100%;
    max-height: 80px;
    max-width: 80px;
  }
}

.stream-basic-info {
  @include display-flex;
  width: 70%;
  margin-top: 15px;
  margin-left: 15px;
}

.status {
  padding: 0;
  margin: 0;
  font-size: .8em;
}

.offline-streams {
  background-color: $offlineColor;
  border-top: 1px solid black;
  a {
    color: $typeOffline;
  }
}

.online-light {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: hsla(139, 100%, 49%, 1);
  border-radius: 50%;
  box-shadow:0 0 3px hsla(139, 100%, 49%, 1),0 0 10px hsla(139, 100%, 49%, 1);
  animation: inex 3s infinite linear ;
  margin-right: 5px;
  margin-top: 5px;
}

@keyframes inex {
	50% {
	opacity: 0.4;
	}
	60%
	{
		opacity: 1;
	}
}
