.online-streams {
  background-color: $onlineColor;
  border-top: 1px solid black;
}

.online-stream,
.offline-stream {
  @include display-flex;
  @include flex-wrap(nowrap);
  width: 100%;
  max-height: 80px;
}

.stream-logo {
  @include display-flex;
  width: 30%;
  @include breakpoint(420px) {
  margin-left: 15px;
  }
  img {
    width: 100%;
    max-height: 80px;
    max-width: 80px;
  }
}

.stream-basic-info {
  @include display-flex;
  width: 70%;
  margin-top: 15px;
  margin-left: 15px;
}

.status {
  padding: 0;
  margin: 0;
  font-size: .8em;
}

.offline-streams {
  background-color: $offlineColor;
  border-top: 1px solid black;
}
